{% extends 'bootstrap/base.html' %}

{% block title %}Add A New Cafe{% endblock %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='styles.css')}}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>
      <form action="/add" method="post">
        {{ form.csrf_token }}
        <p>{{ form.cafe.label }}</p>
        <p>{{ form.cafe }}</p><br>

        <p>{{ form.cafe_url.label }}</p>
        <p>{{ form.cafe_url }}</p><br>

        <p>{{ form.cafe_opening_time.label }}</p>
        <p>{{ form.cafe_opening_time }}</p><br>

        <p>{{ form.cafe_closing_time.label }}</p>
        <p>{{ form.cafe_closing_time }}</p><br>
        <!-- This is where your WTForm will go -->
        <p>{{ form.coffee_rating.label  }}</p>
        <p>{{ form.coffee_rating }}</p><br>

        <p>{{ form.wifi_rating.label }}</p>
        <p>{{ form.wifi_rating }}</p><br>

        <p>{{ form.power_rating.label }}</p>
        <p>{{ form.power_rating }}</p><br>

        <p>{{ form.submit }}</p>
      </form>

	  <p class="space-above"><a href="{{ url_for('cafes') }}">See all cafes</a></p> <p class="space-above"><a href="{{ url_for('home') }}">Return to Home Page</a></p>

    </div>
  </div>
</div>

{% endblock %}
